@model template.bl.models.employeevm;
@{
    ViewData["Title"] = "details";
    Layout = "~/Views/layout/MainLayout.cshtml";
}



<a asp-action="Index" asp-controller="employee" class="btn btn-success"> back to data</a>
<a asp-controller="employee" asp-action="edit" asp-route-id="@Model.id" class="btn btn-success"> edit</a>
<br />

<h2>details</h2>


<br />


<input type="hidden" asp-for="id" />

<label asp-for="id">  id</label>
<input type="text" class="form-control" asp-for="id" disabled>

<label asp-for="name">  name</label>
<input type="text" class="form-control" asp-for="name" disabled>

<br />

<label asp-for="email"> email</label>
<input type="text" class="form-control" asp-for="email" disabled>


<br />

<label asp-for="department.departmentname"> departmentname</label>
<input type="text" class="form-control" asp-for="department.departmentname" disabled>

<br />

<label asp-for="salary"> salary</label>
<input type="text" class="form-control" asp-for="salary" disabled>

<br />

<label asp-for="address"> address</label>
<input type="text" class="form-control" asp-for="address" disabled>

<br />

<label asp-for="notes"> notes</label>
<input type="text" class="form-control" asp-for="notes" disabled>


<br />

<div class="demo-checkbox">
    <input type="checkbox" asp-for="isactive" checked="">
    <label asp-for="isactive">IsActive</label>
    <span asp-validation-for="isactive" class="text-danger"></span>
</div>
<br />

<label asp-for="hiredate"> hiredate</label>
<input type="text" class="form-control" asp-for="hiredate" disabled>

<select asp-for="departmentid" asp-items="(SelectList) ViewBag.departmentlist" disabled>
</select>




