
@model template.bl.models.departmentvm;
@{
    ViewData["Title"] = "delete";
    Layout = "~/Views/layout/MainLayout.cshtml";
}
<a asp-action="Index" asp-controller="DepartmentController1" class="btn btn-success"> back to data</a>
<br />

<h2>delete</h2>


<br />
<form asp-controller="DepartmentController1" asp-action="delete" class="form-group">
  
    <input type="hidden" asp-for="id" />
    <label asp-for="departmentname">  departmentname</label>
    <input type="text" class="form-control" asp-for="departmentname" disabled>
   
    <br />

    <label asp-for="departmentcode"> departmentcode</label>
    <input type="text" class="form-control" asp-for="departmentcode" disabled>
 

    <br />

    <label asp-for="departmentsize"> departmentsize</label>
    <input type="text" class="form-control" asp-for="departmentsize"disabled>


    <br />

    <center>
        <input type="submit" value="delete" class="btn btn-primary" />
    </center>

</form>

